**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.development
**/.env.test
**/.env.production

C:\Users\HP\essaygenius\frontend\node_modules
frontend/node_modules
/.env
/.node_modules
/.next
**/.node_modules
**/.next
**/.env
**/.env.local

essaygenius_frontend/node_modules/
essaygenius_frontend/.next/
essaygenius_frontend/.env
essaygenius_frontend/.env.local

**/pycache__
**/__pycache__
**/__pycache__/**
**/pycache__/**
**/pycache__/**/**
**/pycache__/**/**/**

**/source_backup.tar.gz
**/source_backup.tar.gz.part*
**/source_backup.tar.gz.part*.*
**/source_backup.tar.gz.part*.*.*
**/source_backup.tar.gz.part*.*.*.*
**/source_backup.tar.gz.part*.*.*.*.*

**/venv
**/venv/**
**/venv/**/**
**/venv/**/**/**
**/venv/**/**/**/**
**/venv/**/**/**/**/**

venv
venv/**
venv/**/**
venv/**/**/**
venv/**/**/**/**
venv/**/**/**/**/**
